/* --------------------HOME-PAGE-MAIN--------------- */

.search-bar{
   display: flex;
   position:relative;
   min-width: 631px;
   min-height: 70px;
   flex-wrap: nowrap;

   background-color: var(--color-white);
   border-radius: 50px;
   border: 1px solid;
   border-color: var(--color-border);
   
}
.search-bar-bair{
   display: flex;
   width: 185px;
   height: 50px;
   align-items: flex-start;
   position: relative;
   top: 9px;
   left: 14px;
}
.search-bar-odor{
   display: flex;
   width: 160px;
   height: 50px;
   align-items: flex-start;
   position: absolute;
   top: 9px;
   left: 218px;
}
.saerch-bar-odor>button{
   width: 185px;
}
.search-bar-tsag{
   display: flex;
   width: 160px;
   height: 50px;
   align-items: flex-start;
   position: absolute;
   top: 9px;
   left: 398px;
 }
 .search-button-background{
   position: absolute;
   width: 55px;
   height: 55px;
   top: 6px;
   left: 564px;
   border-radius: 50px;
   border: 1px solid;
   border-color: var(--color-border);
   background: var(--color-primary-gradient);
 }
 .search-button-background>button{
   position: absolute;
   width: 31px;
   height: 31px;
   top:12px;
   left: 11px;

   border-radius: 40px;
   border:none;
 }
 .search-bar-odor>button,  .search-bar-tsag>button, .search-bar-bair>button{
   width: 160px;
   height: 50px;
   
   display: flex;
   flex-direction: column;
   justify-content: center;

   background-color:var(--color-white);
   border-radius: 30px;
   border:none;

   font-size: var(--small);
   font-weight: var(--medium);
}

.search-bar>li>ul{
   display: none;
}
.calendar-box{
   display: none;
}
/* -------------------------------MAIN HOMEPAGE------------------------------- */

.class-filter{
   margin-bottom: 20px;
   margin-top: 27px;
}
.class-filter ul{
   position: relative;
   display: flex;
   flex-wrap: nowrap;
   flex-direction: row;
   justify-content:center;
   gap:25px;
}

.class-filter ul>li>button{
   width: 85px;
   height: 30px;

   background: var(--color-white);
   color: var(--color-light-grey);

   font-size: var(--small) ;
   font-weight: var(--normal);

   border-radius: 20px;
   border-color: transparent;
}

.main-content{
   display: grid;
   gap: 25px 21px;
   grid-template-columns: repeat( auto-fit, minmax(297px, 1fr) );

}

.wrapper{
   display: flex;
   margin:0px 0 0px 96px;
}

aside.index-aside{
   width: 28%; 
   margin-left: auto;
   margin-top:244px;
   margin-right: 96px;

   border-radius: 20px;
   border: 1px solid;
   border-color: var(--color-border);
}
aside.index-aside section{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap:19px;
}
aside.index-aside section h2{
   font-size: var(--heading-5);
   font-weight: var(--bold);
   margin-top: 4px;
}
main.index-main{
   width: 72%;
   fill:var(--color-background);
}

main{
   margin-top: 167px;
}

