/* --------------------HOME-PAGE-MAIN--------------- */

.search-bar{
   width: 39.5rem;
   height: 4.375rem;

   display: flex;
   justify-content: space-around;
   flex-wrap: nowrap;

   background-color: var(--color-white);
   border-radius: 50px;
   border: 1px solid;
   border-color: var(--color-border);
   
   font-size: var(--small);
   font-weight: var(--medium);

      & .bair , & .odor , & .tsag{
         display: flex;
         width: 10rem;
         height: 3.125rem;
         align-items: flex-start;
         position: relative;
         top: 0.56rem;
         left: 0.875rem;
      }
}

.odor>button{
   width: 11.5rem;
}

 .search-button-background{
   width: 3.4rem;
   height: 3.4rem;
   margin-top: 0.5em;

   border-radius: 50px;
   border: 1px solid;
   border-color: var(--color-border);

   background: var(--color-primary-gradient);
 }
 .search-button-background>button{
   width: 2rem;
   height: 2rem;
   top: 0.75rem;

   border-radius: 40px;
   border:none;
 }
 .odor>button,  .tsag>button, .bair>button{
   width: 10rem;
   height: 3.125rem;
   
   display: flex;
   flex-direction: column;
   justify-content: center;

   background-color:var(--color-white);
   border-radius: 30px;
   border:none;

   font-size: var(--small);
   font-weight: var(--medium);
}

.search-bar>li>ul{
   display: none;
}
.calendar-box{
   display: none;
}
/* -------------------------------MAIN HOMEPAGE------------------------------- */

.class-filter{
   margin-bottom: 20px;
   margin-top: 27px;
   position: relative;
   left:10vw;
}
.class-filter ul{
   position: relative;
   display: flex;
   flex-wrap: nowrap;
   flex-direction: row;
   justify-content:center;
   gap:25px;
}

.class-filter ul>li>button{
   width: 85px;
   height: 30px;

   background: var(--color-white);
   color: var(--color-light-grey);

   font-size: var(--small) ;
   font-weight: var(--normal);

   border-radius: 20px;
   border-color: transparent;
}

.main-content{
   display: grid;
   gap: 25px 21px;
   grid-template-columns: repeat( auto-fit, minmax(297px, 1fr) );

}

.wrapper{
   display: flex;
   margin:0px 0 0px 96px;
}

aside.index-aside{
   width: 28%; 
   margin-left: auto;
   margin-top:244px;
   margin-right: 96px;

   border-radius: 20px;
   border: 1px solid;
   border-color: var(--color-border);
}
aside.index-aside section{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap:19px;
}
aside.index-aside section h2{
   font-size: var(--heading-5);
   font-weight: var(--bold);
   margin-top: 4px;
}
main.index-main{
   width: 72%;
   fill:var(--color-background);
}

main{
   margin-top: 167px;
}

