:root {
   --color-text: rgba(0, 0, 0, 1);
   --color-white: rgba(255, 255, 255, 1);
   --color-primary: rgba(120, 202, 77, 1);
   --color-accent: rgba(172, 233, 141, 1);
   --color-border: rgba(194, 194, 194, 1);
   --color-black: rgba(14, 14, 12, 1);
   --color-light-grey: rgba(171, 171, 171, 1);
   --color-dark-grey: rgba(122, 125, 125, 1);
   --color-light-text: rgba(129, 129, 129, 1);
   --font-family: "Montserrat", Helvetica;

   /* font sizes */
   --large: 20px;
   --medium: 18px;
   --regular: 16px;
   --small: 14px;
   --tiny: 12px;
  
   /* font weights */
   --extra-bold: 800;
   --bold: 700;
   --semi-bold: 600;
   --medium: 500;
   --normal: 400;
   --light: 300;

   /* line heights */
   --line-height-1: 120%;
   --line-height-2: 130%;
   --line-height-3: 140%;
   --line-height-4: 150%;
 }

 .heading-1{
  font-size: 56px;
  font-weight: var(--bold);
  line-height: var(--line-height-1);
 }
 .heading-2{
  font-size: 48px;
  font-weight: var(--bold);
  line-height: var(--line-height-1);
 }
 .heading-3{
  font-size: 40px;
  font-weight: var(--bold);
  line-height: var(--line-height-1);
 }
 .heading-4{
  font-size: 32px;
  font-weight: var(--bold);
  line-height: var(--line-height-1);
 }
 .heading-5{
  font-size: 24px;
  font-weight: var(--bold);
  line-height: var(--line-height-1);
 }
 .heading-6{
  font-size: 20px;
  font-weight: var(--bold);
  line-height: var(--line-height-1);
 }
 