@import url(styleguide.css);

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
   font-family: "Montserrat", Helvetica;
   list-style-type: none;
}
a{
   text-decoration: none;
}
html{
   background:var(--color-background); 
   font-family: var(--font-family-1);
}
button{
   font-family: var(--font-family-1);
}

/* -----------------NAVBAR-------------------- */
.main-header{
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 4;
   background: var(--color-background);
}

.main-header nav{
   display: flex; 
   flex-wrap: nowrap;
   
   margin:2.875rem 6rem;

   justify-content: space-between;
   align-items: center;
}


/* -----------------CALENDAR------------------ */
.calendar-wrapper{
   width: 270px;
   background: var(--color-white);
   
   border-radius: 30px;
   border: 1px solid;
   border-color: var(--color-border);
}
.calendar-wrapper div:first-child{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 16px 16px 12px 16px;
}
.calendar-wrapper span{
   font-size: 35px;
}
.calendar-wrapper .current-date{
   font-weight: var(--semi-bold);
   font-size: var(--medium-size);
   line-height: var(--line-height-4);
}
.calendar{
   padding: 0 16px 0 16px;
}
.calendar ul{
   display: flex;
   flex-wrap: wrap;
   text-align: center;
}
.calendar ul li{
   width: calc(100% / 7);
}
.calendar .weeks li{
   color: #797B86;
   font-weight: var(--semi-bold);
   font-size: var(--tiny);
}
.calendar .days li{
   color: #45454A;
   font-weight: var(--regular);
   font-size: var(--small);
   line-height: 24px;
   margin-top:10px;
}
.calendar .days{
   margin-bottom: 25px;
}
/* ---------------CALENDAR-END---------------- */


/* ---------------COMPONENT-------------------- */
.logo{
   width: 64px;
   height: 64px;
   
}

.class-section-1 {
   width: 18.75rem;
   height: 10.75rem;
   position:relative;
}

.class-section-1 > article{
   display: flex;
   width: 18.75rem;
   background-color: var(--color-white);
   
   border-radius: 20px;
   border: 1px solid;
   border-color: var(--color-border);
}
.class-section-1 .image{
   position: relative;
   width: 10rem;
   height: 10.585rem;
   
   border-radius: 20px 0 0 20px;
   border: 1px solid;
   border-color: var(--color-border);
}
.class-section-1 .heart-grey{
   position: absolute;
   left: 88%;
}
.class-section-1 .text-wrapper{
   display: flex;
   flex-direction: column;
   margin-top:1.75em;
   margin-left: 0.8em;
}
.class-section-1 h3{
   font-weight: var(--bold);
   font-size: var(--medium-size);
   line-height: var(--line-height-4);
   color:var(--color-text);
   white-space: nowrap;
}
.class-section-1 .class-type{
   margin-top: -0.5em;
   font-weight: var(--medium);
   font-size: var(--tiny);
   line-height:var(--line-height-4);
   color:var(--color-light-grey);
   white-space: nowrap;
 }
 .class-section-1 .seat-count{
   margin-top: 1.2em;
   font-weight: var(--medium);
   font-size: var(--small);
   color:var(--color-light-grey);
 }
 .seat-count::before{
   position:relative ;
   top: 0.3rem;
   content: url('assets/Seat-logo.svg');
   width: 0.9rem; /* Adjust width if needed */
   height: 1.4rem; /* Adjust height if needed */
   margin-right: 5px; /* Adjust spacing if needed */
 }
 .profile-button{
   background-color: var(--color-white);
   border: 1px solid var(--color-border);
   box-shadow: var(--shadow-1);
   border-radius: 50%; 
   font-size: 1.5em;
   width: 45px;
   height: 45px;
 }
 .profile-button:hover{
   cursor: pointer;
 }



 .class-section-3 {
   width: 258px;
   height: 118px;
   background-color: var(--color-white);

   border-radius: 20px;
   border: 1px solid;
   border-color: var(--color-border);
}

.class-section-3 article{
   display: flex;
}
.class-section-3 img{
   width: 111px;
   height: 118px;
   border-radius: 20px 0 0 20px;
}
.class-section-3 article>div{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   flex-wrap: nowrap;

   padding:14px 0 19px 17px;
}
.class-section-3 article h3{
   font-size: var(--medium-size);
   font-weight: var(--semi-bold);
   color: var(--color-text);
}
.class-section-3 article div.vote{
   font-size: var(--tiny);
   font-weight: var(--normal);
   color: var(--color-dark-grey);
   line-height: var(--line-height-4);
}

/* ---------- CLASS page ---------- */
hr{
   border-top: 1px solid var(--color-border);
}
/* --- User PopUp --- */
.user-popup{
   background-color: var(--color-white);
   border: 1px solid var(--color-border);
   border-radius: 20px;
   width: 300px;
   height: 240px;
   line-height: var(--line-height-4);
   display: none;
}
.user-popup > ul{
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   padding-left: 13px;
   height: inherit;
   margin-top: -10px;
}
.menu{
   font-size: var(--regular);    
   font-weight: var(--semi-bold);
   color: var(--color-text);
   text-decoration: none;
}
.reserved-menu, .liked-menu, .contact-menu:hover{
   cursor: pointer;
}
.button{
   font-size: var(--regular);
   font-weight: var(--semi-bold);
   background-color: var(--color-primary);
   color: var(--color-white);
   border-radius: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
   border: none;
   width: 270px;
   height: 50px;
}
.button:hover{
   cursor: pointer;
      background-color: var(--color-primary);
      color: var(--color-white);
}
.reserved-menu::before, .liked-menu::before, .contact-menu::before{
   font-family: "Font Awesome 6 free";
   font-size: 1.4em;
   margin: 0.5em;
}
.reserved-menu::before{
   content: "\f543";
   margin: 0.6em;
}
.liked-menu::before{
   content: "\f004";
}
.contact-menu::before{
   content: "\f590";
}
/* --- User PopUp END --- */

/* ---------- CLASS INFO SECTION ---------- */
.class-info{
   display: flex;
   justify-content: center;
   margin-top: 2vw;
   margin-bottom: 1vw;
   column-gap: 12vw;
}

/* Main-info + Rating */
.class-info > section {
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 20px;
}

.class-title{
   background-color: var(--color-white);
   border: 1px solid var(--color-border);
   border-radius: 20px;
   width: 508px;
   height: 325px;
}
.class-title > h2 >span::after{
   font-family: "Font Awesome 6 free";
   content: "\f004";
   color: var(--color-primary);
}
.class-title > h2 span{
   margin: 0.8em;
   margin-top: 0.5em;
   display: flex;
   justify-content: space-between;
}
.class-title > h2{
   width: inherit;
}
.class-img{
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
   width: inherit;
   height: 235px;
}

.main-info{
   background-color: var(--color-white);
   box-shadow: var(--shadow-1);
   border-radius: 40px;
   display: flex;
   flex-direction: row;
   align-items: center;
   text-align: center;
   justify-content: center;
   column-gap: 0.8em;  
   width: 355px;
   height: 90px;
}

.info-desc, .rate-title{
   font-size: var(--small);
   font-weight: var(--semi-bold);
   color: var(--color-light-text);
}
.fa-circle-check{
   /* font-family: "Font Awesome 6 free";
   content: "\f058"; */
   padding-top: 0.2em;
   font-size: 1.5em;
}
.vl {
   border-left: 1px solid var(--color-border);
   height: 45px;
 }

/* --- RATING --- */
.rating{
   display: grid;
   justify-items: center;
   margin-top: 1vw;
   
   width: 300px;
   height: 225px;
}

/* .rate{
   display: flex;
   align-items: center;
}

.rate::before, .rate::after{
   font-family: "Font Awesome 6 free";
   content: "\f005";
   font-size: 0.5em;
   margin: 0.5em;
   color: var(--color-accent);
} */

.rate-criteria{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   column-gap: 1em;
   row-gap: 0.8em;
}

.rate-criteria meter {
   -webkit-appearance: meter;
   -moz-appearance: meter;
   appearance: none;
   background: var(--color-white);
   box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
   border-radius: 30px;
   border: 1px solid var(--color-border);
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: var(--small);
   font-weight: var(--semi-bold);
   
   width: 140px;
   height: 45px;
 }
 meter::-webkit-meter-optimum-value {
   background-color: var(--color-accent);
 }

 .add-rating-btn{
   background-color: var(--color-white);
   border: 1px solid var(--color-border);
   font-size: var(--large);
   font-weight: var(--semi-bold);
   color: var(--color-primary);
   border-radius: 30px;
   margin-top: 1em;
   transition: width 2s, height 2s, transform 1s;
   width: 100px;
   height: 40px;
}
.add-rating-btn:hover{
   cursor: pointer;
      transform: scale(1.1);
}

/* --- Class Info Section END--- */

/* ---- MENU -----  */
.option-tab{
   display: flex;
   justify-content: center;
   column-gap: 7vw;
   margin-top: 1.5vw;
}
.option-tab button{
   font-size: var(--heading-5);
   line-height: var(--line-height-3);
   font-weight: var(--medium);
   background: none;
   border: none;
}
.option-tab button:hover{
   cursor: pointer;
}
/* ------ MENU END ----- */

/* --- Reserve FORM --- */
.reserve-form{
   background-color: var(--color-white);
   box-shadow: var(--shadow-1);
   border-radius: 30px;
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
   width: 405px;
   height: 440px;
}
.reserve-form > ul{
   display: flex;
   flex-direction: column;
   margin: 2em;
   row-gap: 10px;
   column-gap: 20px;
}
.form-side{
   display: grid;
   grid-template-columns: 1fr 1fr;
}
input[type=number]{
   width: 5em;
}
input[type=tel]{
   width: 10em;
}
.reserve-form label{
   color: var(--color-light-text);
   font-size: var(--tiny);
   font-weight: var(--normal);
   margin-bottom: 0.5em;
}
.form-attr{
   background-image: var(--color-background);
   border: none;
   border-radius: 30px;
   font-size: var(--regular);
   font-weight: var(--medium);
   color: var(--color-light-text);
   width: 290px;
   height: 45px;
}

.submit{
   width: 392px;
   font-size: 1.2em;
}
/* -- Time buttons -- */

.day-times button{
   font-weight: var(--semi-bold);
   font-size: var(--large);
   color: var(--color-text);
   border: 1px solid var(--color-border);
   background-image: var(--color-background);
   border-radius: 30px;

   width: 112px;
   height: 40px;
}
.day-times button:hover{
   box-shadow: var(--shadow-1);
}

.times button{
   background-image: var(--color-background);
   border-radius: 30px;
   color: var(--color-light-text);
   font-weight: var(--semi-bold);
   font-size: var(--medium-size);
   border: none;
   width: 112px;
   height: 40px;
}
.times button:hover{
   box-shadow: var(--shadow-1);
}
/* Time buttons END */

/* --------- Week SECTION ---------  */
.available-days{
   background-color: var(--color-white);
   border: 1px solid var(--color-border);
   border-radius: 30px;
   width: 700px;
   height: 630px;
}

/* Date design ( Да 03-04 ) */
.day > div{
   background-color: var(--color-white);
   border: 1px solid var(--color-border);
   border-radius: 30px;
   text-align: center;
   align-items: center;
   width: 112px;
   height: 45px;

}
.day > div time{
   font-family: var(--font-family-1);
   font-weight: var(--bold);
   font-size: var(--large);
   color: var(--color-text);
}

.day > div > div{
   font-weight: var(--semi-bold);
   font-size: var(--tiny);
   color: var(--color-light-text);
}

/* ----- Week Section LAYOUT -----  */
.by-week{
   display: grid;
   grid-template-columns: auto;
   grid-template-rows: 1fr 2fr;
   grid-template-areas: "day cal"
                        "day form"
                        "day form";
   align-items: center;
   justify-items: center;
   justify-content: center;
   column-gap: 7vw;
   
}

.available-days{
   grid-area: day;
}
.byweek.class-wrapper{
   grid-area: cal;
}
.by-week.reserve-form{
   grid-area: form;
}

.week > ul{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   padding: 20px 35px ;
}

.times{
   display: grid;
   gap: 13px;
   padding-top: 18px;
}


/* ----- Week SECTION END-----  */

/* ---------- Day Section LAYOUT ---------  */
.by-day{
   display: flex;
   align-items: center;
   justify-items: center;
   justify-content: center;
   column-gap: 3vw;
}

.byweek.class-wrapper{
   grid-area: cal;
}
.day-times{
   grid-area: time;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: auto;
   column-gap: 1em;
   row-gap: 1em;
}
.by-week.reserve-form{
   grid-area: form;
}

/* Day Section END */

/* ----- Similar Class Section ------ */
.similar-class{
   margin-top: 5vw;
}
.similar-class h2{
   text-shadow: var(--shadow-1);
   margin-left: 7vw;

}
.similar-class ul{
   display: flex;
   column-gap: 1vw;
   justify-content: center;
   margin-top: 2em;
}