:root {
   --text: rgba(0, 0, 0, 1);
   --white: rgba(255, 255, 255, 1);
   --primary: rgba(120, 202, 77, 1);
   --accent: rgba(172, 233, 141, 1);
   --border: rgba(194, 194, 194, 1);
   --black: rgba(14, 14, 12, 1);
   --light-grey: rgba(171, 171, 171, 1);
   --dark-grey: rgba(122, 125, 125, 1);
   --light-text: rgba(129, 129, 129, 1);
   --display-font-family: "Montserrat", Helvetica;
   --display-font-weight: 800;
   --display-font-size: 72px;
   --display-letter-spacing: 0px;
   --display-line-height: 120.00000476837158%;
   --display-font-style: normal;
   --heading-1-font-family: "Montserrat", Helvetica;
   --heading-1-font-weight: 700;
   --heading-1-font-size: 56px;
   --heading-1-letter-spacing: 0px;
   --heading-1-line-height: 120.00000476837158%;
   --heading-1-font-style: normal;
   --heading-2-font-family: "Montserrat", Helvetica;
   --heading-2-font-weight: 700;
   --heading-2-font-size: 48px;
   --heading-2-letter-spacing: 0px;
   --heading-2-line-height: 120.00000476837158%;
   --heading-2-font-style: normal;
   --heading-3-font-family: "Montserrat", Helvetica;
   --heading-3-font-weight: 700;
   --heading-3-font-size: 40px;
   --heading-3-letter-spacing: 0px;
   --heading-3-line-height: 120.00000476837158%;
   --heading-3-font-style: normal;
   --heading-4-font-family: "Montserrat", Helvetica;
   --heading-4-font-weight: 700;
   --heading-4-font-size: 32px;
   --heading-4-letter-spacing: 0px;
   --heading-4-line-height: 129.99999523162842%;
   --heading-4-font-style: normal;
   --heading-5-font-family: "Montserrat", Helvetica;
   --heading-5-font-weight: 700;
   --heading-5-font-size: 24px;
   --heading-5-letter-spacing: 0px;
   --heading-5-line-height: 139.9999976158142%;
   --heading-5-font-style: normal;
   --heading-6-font-family: "Montserrat", Helvetica;
   --heading-6-font-weight: 700;
   --heading-6-font-size: 20px;
   --heading-6-letter-spacing: 0px;
   --heading-6-line-height: 139.9999976158142%;
   --heading-6-font-style: normal;
   --large-extra-bold-font-family: "Montserrat", Helvetica;
   --large-extra-bold-font-weight: 800;
   --large-extra-bold-font-size: 20px;
   --large-extra-bold-letter-spacing: 0px;
   --large-extra-bold-line-height: 150%;
   --large-extra-bold-font-style: normal;
   --large-bold-font-family: "Montserrat", Helvetica;
   --large-bold-font-weight: 700;
   --large-bold-font-size: 20px;
   --large-bold-letter-spacing: 0px;
   --large-bold-line-height: 150%;
   --large-bold-font-style: normal;
   --large-semi-bold-font-family: "Montserrat", Helvetica;
   --large-semi-bold-font-weight: 600;
   --large-semi-bold-font-size: 20px;
   --large-semi-bold-letter-spacing: 0px;
   --large-semi-bold-line-height: 150%;
   --large-semi-bold-font-style: normal;
   --large-medium-font-family: "Montserrat", Helvetica;
   --large-medium-font-weight: 500;
   --large-medium-font-size: 20px;
   --large-medium-letter-spacing: 0px;
   --large-medium-line-height: 150%;
   --large-medium-font-style: normal;
   --large-normal-font-family: "Montserrat", Helvetica;
   --large-normal-font-weight: 400;
   --large-normal-font-size: 20px;
   --large-normal-letter-spacing: 0px;
   --large-normal-line-height: 150%;
   --large-normal-font-style: normal;
   --large-light-font-family: "Montserrat", Helvetica;
   --large-light-font-weight: 300;
   --large-light-font-size: 20px;
   --large-light-letter-spacing: 0px;
   --large-light-line-height: 150%;
   --large-light-font-style: normal;
   --medium-extra-bold-font-family: "Montserrat", Helvetica;
   --medium-extra-bold-font-weight: 700;
   --medium-extra-bold-font-size: 18px;
   --medium-extra-bold-letter-spacing: 0px;
   --medium-extra-bold-line-height: 150%;
   --medium-extra-bold-font-style: normal;
   --medium-bold-font-family: "Montserrat", Helvetica;
   --medium-bold-font-weight: 700;
   --medium-bold-font-size: 18px;
   --medium-bold-letter-spacing: 0px;
   --medium-bold-line-height: 150%;
   --medium-bold-font-style: normal;
   --medium-semi-bold-font-family: "Montserrat", Helvetica;
   --medium-semi-bold-font-weight: 600;
   --medium-semi-bold-font-size: 18px;
   --medium-semi-bold-letter-spacing: 0px;
   --medium-semi-bold-line-height: 150%;
   --medium-semi-bold-font-style: normal;
   --medium-medium-font-family: "Montserrat", Helvetica;
   --medium-medium-font-weight: 500;
   --medium-medium-font-size: 18px;
   --medium-medium-letter-spacing: 0px;
   --medium-medium-line-height: 150%;
   --medium-medium-font-style: normal;
   --medium-normal-font-family: "Montserrat", Helvetica;
   --medium-normal-font-weight: 400;
   --medium-normal-font-size: 18px;
   --medium-normal-letter-spacing: 0px;
   --medium-normal-line-height: 150%;
   --medium-normal-font-style: normal;
   --medium-light-font-family: "Montserrat", Helvetica;
   --medium-light-font-weight: 300;
   --medium-light-font-size: 18px;
   --medium-light-letter-spacing: 0px;
   --medium-light-line-height: 150%;
   --medium-light-font-style: normal;
   --regular-extra-bold-font-family: "Montserrat", Helvetica;
   --regular-extra-bold-font-weight: 800;
   --regular-extra-bold-font-size: 16px;
   --regular-extra-bold-letter-spacing: 0px;
   --regular-extra-bold-line-height: 150%;
   --regular-extra-bold-font-style: normal;
   --regular-bold-font-family: "Montserrat", Helvetica;
   --regular-bold-font-weight: 700;
   --regular-bold-font-size: 16px;
   --regular-bold-letter-spacing: 0px;
   --regular-bold-line-height: 150%;
   --regular-bold-font-style: normal;
   --regular-semi-bold-font-family: "Montserrat", Helvetica;
   --regular-semi-bold-font-weight: 600;
   --regular-semi-bold-font-size: 16px;
   --regular-semi-bold-letter-spacing: 0px;
   --regular-semi-bold-line-height: 150%;
   --regular-semi-bold-font-style: normal;
   --regular-medium-font-family: "Montserrat", Helvetica;
   --regular-medium-font-weight: 500;
   --regular-medium-font-size: 16px;
   --regular-medium-letter-spacing: 0px;
   --regular-medium-line-height: 150%;
   --regular-medium-font-style: normal;
   --regular-normal-font-family: "Montserrat", Helvetica;
   --regular-normal-font-weight: 400;
   --regular-normal-font-size: 16px;
   --regular-normal-letter-spacing: 0px;
   --regular-normal-line-height: 150%;
   --regular-normal-font-style: normal;
   --regular-light-font-family: "Montserrat", Helvetica;
   --regular-light-font-weight: 300;
   --regular-light-font-size: 16px;
   --regular-light-letter-spacing: 0px;
   --regular-light-line-height: 150%;
   --regular-light-font-style: normal;
   --small-extra-bold-font-family: "Montserrat", Helvetica;
   --small-extra-bold-font-weight: 800;
   --small-extra-bold-font-size: 14px;
   --small-extra-bold-letter-spacing: 0px;
   --small-extra-bold-line-height: 150%;
   --small-extra-bold-font-style: normal;
   --small-bold-font-family: "Montserrat", Helvetica;
   --small-bold-font-weight: 700;
   --small-bold-font-size: 14px;
   --small-bold-letter-spacing: 0px;
   --small-bold-line-height: 150%;
   --small-bold-font-style: normal;
   --small-semi-bold-font-family: "Montserrat", Helvetica;
   --small-semi-bold-font-weight: 600;
   --small-semi-bold-font-size: 14px;
   --small-semi-bold-letter-spacing: 0px;
   --small-semi-bold-line-height: 150%;
   --small-semi-bold-font-style: normal;
   --small-medium-font-family: "Montserrat", Helvetica;
   --small-medium-font-weight: 500;
   --small-medium-font-size: 14px;
   --small-medium-letter-spacing: 0px;
   --small-medium-line-height: 150%;
   --small-medium-font-style: normal;
   --small-normal-font-family: "Montserrat", Helvetica;
   --small-normal-font-weight: 400;
   --small-normal-font-size: 14px;
   --small-normal-letter-spacing: 0px;
   --small-normal-line-height: 150%;
   --small-normal-font-style: normal;
   --small-light-font-family: "Montserrat", Helvetica;
   --small-light-font-weight: 300;
   --small-light-font-size: 14px;
   --small-light-letter-spacing: 0px;
   --small-light-line-height: 150%;
   --small-light-font-style: normal;
   --tiny-extra-bold-font-family: "Montserrat", Helvetica;
   --tiny-extra-bold-font-weight: 800;
   --tiny-extra-bold-font-size: 12px;
   --tiny-extra-bold-letter-spacing: 0px;
   --tiny-extra-bold-line-height: 150%;
   --tiny-extra-bold-font-style: normal;
   --tiny-bold-font-family: "Montserrat", Helvetica;
   --tiny-bold-font-weight: 700;
   --tiny-bold-font-size: 12px;
   --tiny-bold-letter-spacing: 0px;
   --tiny-bold-line-height: 150%;
   --tiny-bold-font-style: normal;
   --tiny-semi-bold-font-family: "Montserrat", Helvetica;
   --tiny-semi-bold-font-weight: 600;
   --tiny-semi-bold-font-size: 12px;
   --tiny-semi-bold-letter-spacing: 0px;
   --tiny-semi-bold-line-height: 150%;
   --tiny-semi-bold-font-style: normal;
   --tiny-medium-font-family: "Montserrat", Helvetica;
   --tiny-medium-font-weight: 500;
   --tiny-medium-font-size: 12px;
   --tiny-medium-letter-spacing: 0px;
   --tiny-medium-line-height: 150%;
   --tiny-medium-font-style: normal;
   --tiny-normal-font-family: "Montserrat", Helvetica;
   --tiny-normal-font-weight: 400;
   --tiny-normal-font-size: 12px;
   --tiny-normal-letter-spacing: 0px;
   --tiny-normal-line-height: 150%;
   --tiny-normal-font-style: normal;
   --tiny-light-font-family: "Montserrat", Helvetica;
   --tiny-light-font-weight: 300;
   --tiny-light-font-size: 12px;
   --tiny-light-letter-spacing: 0px;
   --tiny-light-line-height: 150%;
   --tiny-light-font-style: normal;
 }
 