@import url(styleguide.css);

* {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
   font-family: "Montserrat", Helvetica;
   list-style-type: none;
}
a{
   text-decoration: none;
}
html{
   background:var(--color-background-gradient); 
   font-family: var(--font-family-1);

}

.main{
  display: grid;
  grid-template-columns: 20% 80%;
  background-color: white;
  margin: 2rem 5rem;
  height: 110%;
  border-radius: 2rem;
  border-style: solid;
  border-width: 0.5px;
}




/* 
header{
  background-color: aqua;
  & a{
      padding-left: 10rem;
  }
} */

.verified{
  padding-left: 1rem;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 1rem;
  & .class-section-2{
    gap: 2px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    border-radius: 1rem;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 30% 10%;
    
    & .img{
      img{
        width: 100%;
        height: 100%;
        border-radius: 10px 0px 0px 10px ;
      }  
    }
    & .details{
      & .heartdetailsgrid{
        display: grid;
        grid-template-columns: 90% 10%;
       margin: 0.5rem;
      }
      & button{
        border-radius: 1rem;
        border-style: solid;
        border-width: 0.5px;
        padding: 0.1rem 1rem;
      }
      & ul{
        margin-left: 1rem;
        & li{
          padding-top: 0.2rem;
        }
      }
    }
    & .cancel{
      & button{
        margin-left: 1rem;
        width: 150%;
        height: 100%;
        overflow: hidden;
        background-color: #D46A6A;
        & img{
          height: 94%;
          width: 100%;
          border-radius:0px 10px 10px 0px ;
        }
      }
      
    }
  }
}
.font h3 {
  font-weight: var(--bold);
  font-size: var(--medium-size);
  line-height: var(--line-height-4);
  color: var(--color-text);
  white-space: nowrap;
}
.class-type {
  margin-top: 0.2 rem;
  margin-bottom: 1 rem;
  font-weight: var(--medium);
  font-size: var(--tiny);
  line-height: var(--line-height-4);
  color: var(--color-light-grey);
  white-space: nowrap;
}

.right-section{
  border-left: 1px solid black;
  height: 100%;
  & h1{
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
  } 
}
.info{
margin:30%;
  & .profile-button{
    /* padding:2rem; */
  }

}

header{
  & button{
    padding: 8px;
  }
}
.log-out{
  margin-left: 5rem;
  margin-top:5rem;
  border-top: 1px solid black;
  height: 100%;
  font-weight: var(--medium);
  font-size: var(--medium);
  line-height: var(--line-height-4);
  color: var(--color-light-grey);
  white-space: nowrap;
}


/* @media screen and (max-width: 1200px) {
  .right-section {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
  }
} */


@media screen and (max-width: 1350px) {
  .verified {
    display: grid; 
    grid-template-columns: 45% 45%;
  }
}

@media screen and (max-width: 900px) {
  .verified {
    display: block;
    & .class-section-2{
      width: 80%;
      margin: 0px auto;
    }
  }
}

@media screen and (max-width: 600px) {
  .main {
    display: block;
  }
}