@import url(styleguide.css);

*{
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
   font-family: "Montserrat", Helvetica;
   list-style-type: none;
}
a{
   text-decoration: none;
}
html{
   background:var(--color-background); 
   font-family: var(--font-family-1);
}
button{
   font-family: var(--font-family-1);
}
main{
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 2% 8%;
    background-color: aliceblue;
    border-radius: 5rem;
    box-shadow: 1px 1px;
    padding: 10% 10%;
    gap: 5%;
}
.logo{
    width: 64px;
    height: 64px;
 }

/* class section  */
.class-info{
    display: grid;
    grid-template-columns: 20% 20% 20%
}
.class-section-2 img{
    height: 10.75rem;
    position:relative;
    height: 169px;
    border-radius: 20px 0 0 20px;
    border-color: var(--color-border);
 }
 .class-section-2 h3{
    font-weight: var(--bold);
    font-size: var(--medium-size);
    line-height: var(--line-height-4);
    color:var(--color-text);
    white-space: nowrap;
 }
 .class-section-2{

 }
.waiting{
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    & article{
        border-radius: 2rem;
        background-color: aqua;
    }
}
.header{
    box-shadow: 2px 2px 2px 2px;
    display:grid;
    grid-template-rows: 30% 60%;
}
.info{
    box-shadow: 2px 2px 2px 2px;
    padding: 10%;
}
.out{
    padding: 10%
}
.main-header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
    background: var(--color-background);
 }
 .main-header nav{
    display: flex; 
    flex-wrap: nowrap;
    
    margin:2.875rem 6rem;
 
    justify-content: space-between;
    align-items: center;
 }
 .profile-button{
    background-color: var(--color-white);
    border: 1px solid var(--color-border);
    box-shadow: var(--shadow-1);
    border-radius: 50%; 
    font-size: 1.5em;
    width: 45px;
    height: 45px;
    margin-right: 10px 10px;
  }
  .profile-button:hover{
    cursor: pointer;
  }
.class-info{
    gap: 10%;
}