@import url(styleguide.css);

* {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
   font-family: "Montserrat", Helvetica;
   list-style-type: none;
}
a{
   text-decoration: none;
}
html{
   background:var(--color-background-gradient); 
   font-family: var(--font-family-1);

}



/* 
.box {
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 .box .rectangle {
   width: 1248px;
   height: 694px;
   background-color: white;
   border-radius: 20px;
   border: 1px solid black;
 }
 .merdmee{
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: space-between;
   align-content: flex-start;
}
 .label1 {
   margin-top: 30px;
   margin-left: 30px;
   width: 126px;
   height: 24px;
 }
 
 .label1 .text-wrapper {
 
   font-family: var(--regular-semi-bold-font-family);
   font-weight: var(--regular-semi-bold-font-weight);
   color: black;
   font-size: var(--regular-semi-bold-font-size);
   text-align:left;
   letter-spacing: var(--regular-semi-bold-letter-spacing);
   line-height: var(--regular-semi-bold-line-height);
   white-space: nowrap;
   font-style: var(--regular-semi-bold-font-style);
 }

.container1{
   height: calc(50% - 1px);
   width: 25%;
   align-items: flex-start;
}
.line1{
   background-color: black;
   height: 1px;
   width: 25%;
}
.line2{
   background-color: black;
   height: 100%;
   width: 0.5px;
}
.container2{
   height: 50%;
   align-items: flex-start;
}
.container3{
   align-items: flex-start;
   flex-grow: right;
   height: 100%;
   width: 100%;
   
}
.frame{
   align-items: flex-end;
   background-color: transparent;
   display: inline-flex;
   gap: 20px;
   width: 100%;
   height: 100%;
   margin-left: 20px;
   margin-top: 20px;
}
.class-section-2 {
   position: relative;
   width: 282px;
   height: 160px;
   background-color: var(--white);
   border-radius: 20px;
   border: 1px solid;
   border-color: var(--border);
 }
 
 .class-section-2 .text-wrapper {
   width: 73px;
   top: 69px;
   left: 153px;
   font-family: var(--small-medium-font-family);
   font-weight: var(--small-medium-font-weight);
   color: var(--text);
   font-size: var(--small-medium-font-size);
   line-height: var(--small-medium-line-height);
   position: absolute;
   letter-spacing: var(--small-medium-letter-spacing);
   white-space: nowrap;
   font-style: var(--small-medium-font-style);
 }
 
 .class-section-2 .group {
   width: 81px;
   height: 21px;
   top: 92px;
   position: absolute;
   left: 147px;
 }
 
 .class-section-2 .overlap-group {
   position: relative;
   width: 79px;
   height: 21px;
   border-radius: 30px;
   border: 1px solid;
   border-color: var(--border);
   background: linear-gradient(180deg, rgb(239.83, 231.54, 244.59) 0%, rgb(244.18, 251.39, 243.01) 100%);
 }
 
 .class-section-2 .div {
   width: 71px;
   height: 11px;
   top: 4px;
   left: 3px;
   font-family: var(--regular-medium-font-family);
   font-weight: var(--regular-medium-font-weight);
   color: var(--text);
   font-size: var(--regular-medium-font-size);
   text-align: center;
   line-height: var(--regular-medium-line-height);
   position: absolute;
   letter-spacing: var(--regular-medium-letter-spacing);
   white-space: nowrap;
   font-style: var(--regular-medium-font-style);
 }
 
 .class-section-2 .overlap-wrapper {
   width: 81px;
   height: 21px;
   top: 117px;
   position: absolute;
   left: 147px;
 }
 
 .class-section-2 .div-wrapper {
   width: 42px;
   height: 13px;
   top: 29px;
   position: absolute;
   left: 147px;
 }
 
 .class-section-2 .text-wrapper-2 {
   width: 40px;
   height: 13px;
   top: 0;
   left: 0;
   font-family: var(--tiny-medium-font-family);
   font-weight: var(--tiny-medium-font-weight);
   color: var(--light-grey);
   font-size: var(--tiny-medium-font-size);
   line-height: var(--tiny-medium-line-height);
   position: absolute;
   letter-spacing: var(--tiny-medium-letter-spacing);
   white-space: nowrap;
   font-style: var(--tiny-medium-font-style);
 }
 
 .class-section-2 .text-wrapper-3 {
   width: 52px;
   top: 8px;
   left: 147px;
   font-family: var(--medium-bold-font-family);
   font-weight: var(--medium-bold-font-weight);
   color: var(--text);
   font-size: var(--medium-bold-font-size);
   line-height: var(--medium-bold-line-height);
   position: absolute;
   letter-spacing: var(--medium-bold-letter-spacing);
   white-space: nowrap;
   font-style: var(--medium-bold-font-style);
 }
 
 .class-section-2 .overlap {
   position: absolute;
   width: 40px;
   height: 160px;
   top: 0;
   left: 242px;
   background-color: #d46a6a;
   border-radius: 0px 20px 20px 0px;
 }
 
 .class-section-2 .text-wrapper-4 {
   width: 57px;
   height: 18px;
   top: 69px;
   left: -9px;
   transform: rotate(-90deg);
   font-family: var(--small-bold-font-family);
   font-weight: var(--small-bold-font-weight);
   color: var(--white);
   font-size: var(--small-bold-font-size);
   line-height: var(--small-bold-line-height);
   position: absolute;
   letter-spacing: var(--small-bold-letter-spacing);
   white-space: nowrap;
   font-style: var(--small-bold-font-style);
 }
 
 .class-section-2 .image {
   position: absolute;
   width: 134px;
   height: 100%;
   top: 1px;
   left: 1px;
   border-radius: 20px 0 0 20px;
 }
 
 .class-section-2 .vector {
   position: absolute;
   width: 22px;
   height: 19px;
   top: 11px;
   left: 213px;
 }
  */



.main{
  display: grid;
  grid-template-columns: 20% 80%;
  background-color: white;
  margin: 2rem 5rem;
  height: 40rem;
  border-radius: 2rem;
  border-style: solid;
  border-width: 0.5px;
}

/* 
header{
  background-color: aqua;
  & a{
      padding-left: 10rem;
  }
} */

.verified{
  padding-left: 1rem;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 1rem;
  & .class-section-2{
    gap: 2px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    border-radius: 1rem;
    height: 10rem;
    width: 18rem;
    display: grid;
    grid-template-columns: 50% 30% 10%;
    
    & .img{
      img{
        width: 100%;
        height: 100%;
        border-radius: 10px 0px 0px 10px ;
      }  
    }
    & .details{
      & .heartdetailsgrid{
        display: grid;
        grid-template-columns: 90% 10%;
        margin-left: 1rem;
        margin-bottom: 1.5rem;
        padding-top: 0.5rem;
      }
      & button{
        border-radius: 1rem;
        border-style: solid;
        border-width: 0.5px;
        padding: 0.1rem 1rem;
      }
      & ul{
        margin-left: 1rem;
        & li{
          padding-top: 0.2rem;
        }
      }
    }
    & .cancel{
      & button{
        margin-left: 1rem;
        width: 150%;
        height: 100%;
        overflow: hidden;
        background-color: #D46A6A;
        & img{
          height: 94%;
          width: 100%;
          border-radius:0px 10px 10px 0px ;
        }
      }
      
    }
  }
}

.right-section{
  border-left: 2px solid black;
  height: 100%;
  & h1{
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
  } 
}
.info{
  margin-left: 5rem;
  margin-top: 3rem;
  & .profile-button{
    padding:2rem;
  }

}

header{
  & button{
    padding: 8px;
  }
}
.log-out{
  margin-left: 5rem;
  margin-top:5rem;
}


@media screen and (max-width: 1200px) {
  .right-section {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Display as two equal columns */
    gap: 20px; /* Optional: Add gap between the columns */
  }
}


@media screen and (max-width: 800px) {
  .verified {
    display: block !important; 
  }
}
