/* ---------- CLASS page ---------- */

 /* ---------- CLASS INFO SECTION ---------- */
 .main-class-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 2rem;
 }
 
 .main-class-title{
    /* background-color: var(--color-white); */
    border-radius: 20px;
    width: 31em;
    height: 20rem;
    border: 1px solid var(--color-border);
    box-shadow: var(--shadow-3);
 }
 .main-class-title > h2 >span::after{
    font-family: "Material Symbols Outlined";
    content: "\e87d";
    color: var(--color-accent);
    font-size: 1.2em;
 }
 .main-class-title > h2 span{
    margin: 0.5em 0.9em;
    display: flex;
    justify-content: space-between;
 }
 .main-class-title > h2{
    width: inherit;
 }
 .class-img{   
    border-radius: 0 0 20px 20px;
    width: 100%;
    height: 14.5rem;
 }

 .main-class-info > section {
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 1.5rem;
   font-size: var(--medium);
}
 .main-info{
    background-color: var(--color-white);
    box-shadow: var(--shadow-1);
    border-radius: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    column-gap: 0.7em;  
    width: 22em;
    height: 5.5em;
 }
 .main-type{
   font-size: var(--medium-size);
   font-weight: var(--bold);
 }
 
 .info-desc, .rate-title{
    font-size: var(--small);
    font-weight: var(--medium);
    color: var(--color-light-text);
 }

.proj-state{
    padding-top: 0.1em;
    width: 1.5rem;
    height: 1.5rem;
 }
 .vl {
    border-left: 1px solid var(--color-border);
    height: 2em;
  }
 
 /* ------ RATING ------ */
 .rating{
    display: grid;
    justify-items: center;
 }
 .rate-title{
    text-align: center;
 }
 .rate{
    display: flex;
    align-items: center;
    font-size: var(--heading-4);
    font-weight: var(--bold);
 }
 .rate::before, .rate::after, .rate-title-p::before, .rate-title-p::after{
    content: url("assets/Star.svg");
    font-size: 0.5em;
    margin: 0.5em;
    color: var(--color-accent);
 }
 
 .rate-criteria{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 1em;
    row-gap: 0.9em;
 }
 
 .rate-criteria meter {
    -webkit-appearance: meter;
    -moz-appearance: meter;
    appearance: none;
    
    background: var(--color-white);
    box-shadow: var(--shadow-2);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--small);
    font-weight: var(--semi-bold);
    
    width: 10em;
    height: 3.2em;
  }
  meter::-webkit-meter-optimum-value {
    background-color: var(--color-accent);
  }
 
  #add-rating-btn{
    background-color: var(--color-white);
    border: 1px solid var(--color-border);
    font-size: var(--large);
    font-weight: var(--semi-bold);
    color: var(--color-primary);
    border-radius: 30px;
    margin-top: 1em;
    transition: transform 0.5s;
    width: 4.5em;
    height: 2em;
 }
 #add-rating-btn:hover{
   cursor: pointer;
   transform: scale(1.1);
 }
 
 /* --- Class Info Section END--- */
 
 /* ---- MENU -----  */
 .option-tab{
    display: flex;
    justify-content: center;
    gap: 10rem;
    margin-top: 1.5vw;
    padding: 0;
 }
 .option-tab label{
    font-size: var(--heading-6);
    line-height: var(--line-height-3);
    font-weight: var(--medium);
    background: none;
    border: none;
    cursor: pointer;

 }

#week-tab {
   display: none !important;
}

#day-btn:checked + label + .reservation #day-tab,
#week-btn:checked + label + .reservation #week-tab {
   display: flex !important;
}

.tablink {
   visibility: hidden;
   position: absolute; 
}



/* #day-btn:checked ~ .glider {
   left: 0px;
 }
 #week-btn:checked ~ .glider {
   left: 10rem;
 } */
 .glider{
   width: 10rem;
   height: 3px;
   background: var(--color-primary-gradient);
   box-shadow: var(--shadow-1);
   position: absolute;
 }
 /* ------ MENU END ----- */
 
 /* --- Reserve FORM --- */
 .reserve-form{
    background-color: var(--color-white);
    box-shadow: var(--shadow-1);
    border-radius: 30px;
    width: 21rem;
    height: auto;
 }
 .reserve-form > ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 3em;
    gap: 0.5em;
 }
 .reserve-form > ul > ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "people phone1"
                         " . phone2";
 }
 .phone-number1{
    grid-area: phone1;
 }
 .phone-number2{
    grid-area: phone2;
 }
.people{
    grid-area: people;
}
 input[type=number]{
    width: 4em  ;
 }
 input[type=tel]{
    width: 8.2em;
 }
 textarea{
    resize: none;
 }
 .reserve-form label{
    color: var(--color-light-text);
    font-size: var(--tiny);
    font-weight: var(--normal);
    margin-bottom: 0.5em;
 }
 .form-attr{
    background-image: var(--color-background-gradient);
    font-size: var(--regular);
    font-weight: var(--medium);
    color: var(--color-light-text);
    border-radius: 30px;
    border: none;
    width: 17em;
    height: 2.5rem;
 }
 .form-attr:focus{
    outline: 0.5px solid var(--color-border);
 }
 .submit{
    width: 100%;
    font-size: 1.2em;
 }
 
 /* --------- Week SECTION ---------  */
 .available-days{
    background-color: var(--color-white);
    border-radius: 30px;
    width: 45rem;
    height: auto;
 }
 
 .date-range-chooser{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   margin: 2rem 7rem 0rem 7rem;
   font-weight: 600;
   font-size: var(--large);
}
 .day > div{
    background-color: var(--color-white);
    box-shadow: var(--shadow-2);
    border-radius: 30px;
    text-align: center;
    width: 6.8em;
    height: 2.8em;
 }
 .day > div time{    /*udur*/
    font-weight: var(--bold);
    font-size: var(--large);
    color: var(--color-text);
 }
 
 .day > div > div{   /*garig*/
    font-weight: var(--semi-bold);
    font-size: var(--tiny);
    color: var(--color-light-text);
 }
 
 .timeBtn{
   background-image: var(--color-background-gradient);
   border-radius: 30px;
   color: var(--color-light-text);
   font-weight: var(--semi-bold);
   font-size: var(--medium-size);
   font-family: var(--font-family-1);
   border: none;
   cursor: pointer;
   width: 5em;
   height: 2em;
}
.day-times button{
   color: var(--color-text);
}
.timeBtn:hover{
   box-shadow: var(--shadow-1);
}
.timeBtnClick{
   background-color: var(--color-primary);
   color: var(--color-white);
 }

 /* ----- Week Section LAYOUT -----  */
#week-tab{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly; 
 }
 .week > ul{
    display: flex;
    justify-content: space-evenly;
    padding: 1.5rem;
 }
 .times{
    display: grid;
    gap: 1em;
    justify-content: center;
    margin-top: 1rem;
 }
 
 /* ----- Week SECTION END-----  */
 
 /* ---------- Day Section LAYOUT ---------  */
 #day-tab{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 1.5em;
    margin: 2rem;
    flex-wrap: wrap;
 }

 .day-times{
    display: flex;
    flex-wrap: wrap;
    max-width: 23rem;
    gap: 1rem;
 }
 .time-selector{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1.5rem;
 }

 .calendar-wrapper{
   width: 25rem;
 }
 /* Day Section END */
 
 /* ----- Similar Class Section ------ */
 .similar-class{
    margin-top: 5rem;
    margin-left: 5rem;
 }
 .similar-class h2{
    text-shadow: var(--shadow-1);
    font-size: var(--heading-5);
    font-weight: var(--bold);
 }
 .similar-class div{
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    overflow: scroll;
    column-gap: 2rem;
 }
 .similar-class div::-webkit-scrollbar{
   display: none;
 }
 .similar-class a{
   min-width: 18rem;
   box-shadow: var(--shadow-1);
 }
 .similar-class article{
   border: none;
 }

 #rating-pop-up{
   background-image: var(--color-background-gradient);
   border: 1px solid var(--color-border);
   border-radius: 70px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   width: 30rem;
   height: 35rem;
   position: absolute;
   /* left: 30rem;
   top: 7rem; */
 }
.rate-title-p{
   font-size: var(--heading-4);
   font-weight: var(--bold);
}
 .rate-crits > span{
   font-size: var(--regular);
   font-weight: var(--normal);
   color: var(--color-light-text);
 }
 .star::before{
   content: url("assets/Star.svg");
   height: 1.5rem;
   width: 1.5rem;
   transition: all 0.2s ease;
 } 
 .star-wid input{
   display: none;
 }
 .star-wid input:not(:checked) ~ label:hover,
 .star-wid input:not(:checked) ~ label:hover ~ label{
   color: var(--color-primary);
 }

 .star-wid input:checked ~ label{
   color: var(--color-primary);
 }
.star-wid input#rate-5:checked ~ label{
   color: var(--color-border);
}
 .star-wid{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
 }
 .star-wid, .add-rate{
   background-color: var(--color-white);
   border: 1px solid var(--color-border);
   border-radius: 40px;
   margin-top: 0.2rem;
   width: 16rem;
   height: 4rem;
 }
 .add-rate{
   border: 1px solid var(--color-primary);
   font-size: var(--heading-5);
   font-weight: bold;
 }
 .add-rate:hover{
   background-color: var(--color-primary);
   color: var(--color-white);
 }

 /* ---------- Media Query --------- */
 @media (max-width: 640px) {
   html{
      font-size: 14px;
   }
   .available-days, .calendar-wrapper{
      width: 23rem;
   }
   .main-class-title{
      width: 100%;
      height: 16rem;
   }
   .class-img{
      border-radius: 0;
      height: 11rem;
   }
   /* --- WEEK SECTION Vertical layout on mobile --- */
   .week > ul{
      flex-direction: column;
      padding: 1.5rem;
      row-gap: 1rem;
   }
   .day{
      display:grid;
      grid-template-columns: 1fr 2fr;
   }
   .times{
      display: flex;
      flex-wrap: wrap;
      margin-left: 0.5rem;
      margin-top: 0;
      justify-content: flex-start;
      align-items: center;
   }
   
   /* --- Rating diffrent Layout --- */
   .rating{
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      grid-area: "crit title crit",
                 "crit but crit";
   }
   .rating h6{
      grid-area: title;
   }
   .rate-criteria{
      grid-area: crit;
      column-gap: 9rem;
   }

   #add-rating-btn{
      grid-area: but;
      margin-top: 5rem;
      width: 4.5rem;
   }

   .main-info{
      height: 4.3rem;
   }
   .option-tab{
      justify-content: space-evenly;
      gap: 0;
   }

   /*  */
   .similar-class a{
      min-width: 10rem;
   }
   .similar-class{
      margin-left: 2rem;
   }

   .rating-pop-up{
      width: 22rem;
      height: 28rem;
   }
   .star-wid, .add-rate{
      width: 11.5rem;
      height: 2.7rem;
   }
   .star-wid span{
      font-size: var(--tiny);
      font-weight: var(600);
   }
   .rate-title-p{
      font-size: var(--heading-5);
      font-weight: var(--bold);
   }
 }
 @media (max-width: 768px) {
   /* .class-title{
      width: 20rem;
      height: 15.5rem;  
   }
   .class-img{
      height: 10rem;
   }
   .main-info{
      font-size: var(--medium-size);
      width: 16rem;
      height: 4.5rem;
   } */
 }
