/* --------------------HOME-PAGE-MAIN--------------- */
.hero-image {
  display: none;
}
.search-bar {
  width: 55%;
  height: 4.375rem;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;

  background:  var(--color-white);
  border-radius: 50px;
  border: 2px solid;
  border-color: var(--color-border);
  box-shadow: var(--shadow-1);

  font-size: var(--small);
  font-weight: var(--medium);

  & .bair,
  & .odor,
  & .tsag {
    display: flex;
    width: 25%;
    height: 3.125rem;
    align-items: flex-start;
    position: relative;

    & .light-grey {
      color: var(--color-light-grey);
      margin-top: 0.2em;
    }
  }
}
.odor > button,
.tsag > button,
.bair > button {
  width: 100%;
  height: 100%;

  
  display: flex;
  flex-direction: column;
  justify-content: center;

  background:  var(--color-white);
  border-radius: 30px;
  border: none;

  font-size: var(--small);
  font-weight: var(--medium);

  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;

  &:hover {
    background: var(--color-background);
  }
  & span,
  time {
    padding-left: 0.9em;
  }
}
.search-bar button{
  cursor: pointer;
}
.search-button-background {
  width: 3.4rem;
  height: 3.4rem;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50px;
  border: 2px solid;
  border-color: var(--color-border);

  background: var(--color-primary-gradient);
}
.search-button-background > button {
  width: 100%;
  height: 100%;

  background:  transparent;

  border-radius: 40px;
  border: none;
}
.search-button-background > button > img {
  padding-top: 0.3em;
  width: 1.6rem;
}
.search-bar .bair-list li{
  border-radius: 10px;
  transition: all .2s ease-out;
}
.search-bar .bair-list li:hover{
  box-shadow: var(--shadow-1);

}


.calendar-box {
  display: none;
  flex-direction: column;
  align-items: center;

  position: absolute;
  z-index: 999;

  top: 4.5rem;
  gap: 1.5em;

  padding: 1.5em;
  
  border-radius: 30px;
  border: 1px solid var(--color-border);

  background: var(--color-white);
}
.calendar-icons span{
  cursor:pointer
}
.button-list{
  display: flex;
  gap: 1.25em;
  justify-content: center;
}
.button-list li button{
  width: 90px;
  height: 30px;

  border-radius: 30px;

  text-wrap: nowrap;
  font-size: var(--small);
  font-weight: var(--medium);

  background:  var(--color-background);
}
.days li.inactive{
  color: var(--color-light-grey);
}
.days li.inactive:hover{
  background:  var(--color-white);
  cursor:default;
}
.days li{
  cursor: pointer;
}

.day-active{
  background:  var(--color-primary);
  color: var(--color-white);
  border-radius: 0;
}


/* -------------------------------MAIN HOMEPAGE------------------------------- */

.class-filter {
  margin-bottom: 1.25em;
  margin-top: 1.6em;
  position: relative;
  left: 10vw;
}
.class-filter ul {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  gap: 1.5rem;
}

.class-filter ul > li > button {
  width: 5.31rem;
  height: 2rem;

  background: var(--color-white);
  color: var(--color-light-grey);

  font-size: var(--small);
  font-weight: var(--normal);

  border-radius: 20px;
  border-color: transparent;
}

.main-content {
  display: grid;
  gap: var(--gap-1);
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  justify-content: center;
}

.wrapper {
  display: flex;
  margin: 0px var(--margin-1) 0px var(--margin-1);
}

aside.index-aside {
  width: 25%;
  margin-left: auto;
  margin-top: 15.25rem;

  border-radius: 20px;
  border: 3px solid;
  border-color: var(--color-border);
  background: var(--color-white);
}
aside.index-aside section {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(auto-fill, minmax(16.125rem, 1fr));
  justify-content: center;
  gap: var(--gap-1);

  margin: 1em;
}
aside.index-aside section h2 {
  font-size: var(--heading-5);
  font-weight: var(--bold);
  margin-top: 4px;
}
main.index-main {
  width: 75%;
  background: var(--color-background);
  display: flex;
  flex-direction: column;
}

main {
  margin-top: 10.4375rem;
  margin-right: var(--gap-1);
}
.mobile-nav {
  display: none;
}

/* --------------------MEDIA-QUERIES----------------- */
@media (max-width: 1140px) {
  aside {
    display: none;
  }
  main.index-main {
    width: 100%;
    margin: 0;
  }
  .main-header nav {
    margin: 2em;
  }
  .wrapper {
    margin: 9em 2em 0 2em;
  }

  .class-filter {
    position: inherit;
  }
}

@media (max-width: 660px) {
  .hero-image {
    display: block;
    height: 30vh;
  }
  .wrapper {
    flex-direction: column;
    margin: 0;
  }

  .main-content {
    margin: 0 1.5rem;
    display: grid;
    gap: 0.75rem;
    grid-template-columns: repeat(auto-fill, minmax(9.8rem, 1fr));
    justify-content: center;
  }
  .class-filter ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }

  .class-filter ul > li > button {
    width: 4.625rem;
    height: 1.56rem;

    font-size: var(--tiny);
    font-weight: var(--medium);
  }
  .mobile-nav {
    display: block;
  }

  .main-header {
    display: block;
    margin: 0;
    position: inherit;
  }
  .main-header .hero-image {
    width: 100%;
  }
  .main-header nav {
    margin: -1.5em 0 0 0;
    & .header-logo {
      display: none;
    }
    & #profile-btn {
      display: none;
    }
  }
  .line-svg{
    display: none;
  }
  .search-bar {
    width: 100%;
    justify-content: space-evenly;
    margin: 0 1.2em;
  }
  .search-bar .bair{
    width: 80%;
  }

  .search-bar .search-button-background {
    margin-right: 1em;
  }

  .class-filter {
    margin-top: 1em;
  }
  .main-header nav{
    animation: none;
   }
}


.class-section-1{
  border: 3px solid;
  border-color: var(--color-border); 
  border-radius: 20px;
  transition: all .2s ease-out;
}
.class-section-1:hover{
  border: 3px solid;
  border-color: rgba(42, 71, 28, 0.8);
  /* box-shadow: var(--shadow-1); */
}
.class-section-3{
  border: 2px solid;
  border-radius: 20px;
  border-color: var(--color-border);
  transition: all .2s ease-out;
}
.class-section-3:hover{
  border: 2px solid;
  border-color: rgba(42, 71, 28, 0.8);
}
.main-header nav{
 animation: nav-animation linear forwards;
 animation-timeline: view(); 
 animation-range-start: 100vh;
 animation-range-end: 140vh;
}
.line-svg{
  margin-top: 0.75em;
  height: 70%;
  fill:black;
}

@keyframes nav-animation{
  100%{
      margin-top: 1.5em ;
      margin-bottom: 1.5em;
  }
}

/* ------------------------POP- UPS------------------------ */

.bair-list{
  display: none;
  position: absolute;
  z-index: 999;
  width: 20rem;

  top: 4.5rem;
  
  gap: 1.5rem;
  grid-template-columns: repeat( auto-fit,minmax(5rem, 1fr));
  /* repeat(var(--destination-card-columns,3),minmax(0,1fr)) */

  padding: 1.4em;

  border-radius: 30px;
  border: 1px solid var(--color-border);

  background:  var(--color-white);

}

.bair-list>li{
  width: 100%;
  & button{
    width: 100%;
    padding:0.3em;
    border-radius: 10px;
    background: var(--color-white);
    & img{
      width:inherit;
      border-radius: inherit;
    }
  }
  & span{
    margin-left: 0.2em;
    
    font-size: var(--small);
    font-weight: var(--medium);
    color: var(--color-dark-grey);
  }
}

.bair-list.open {
  display: grid;
}
.tsag-list{
  display: none;
  display: none;
  position: absolute;
  z-index: 999;
  width: 15rem;

  top: 4.5rem;
  
  gap: 1.5rem;
  grid-template-columns: repeat( auto-fit,minmax(3rem, 1fr));

  padding: 1.4em;

  border-radius: 30px;
  border: 1px solid var(--color-border);

  background:  var(--color-white);
}

.tsag-list>li{
  width: 100%;
  & button{
    width: 100%;
    padding:0.3em;
    border-radius: 10px;
    background: var(--color-background);

    font-size: var(--small);
    font-weight: var(--medium);
  }
}

.tsag-list.open{
  display: grid;
}
.open-flex{
  display: flex;
}

.tsag-active >button{
  background:var(--color-primary) !important;
  color: var(--color-white);
}