@import url(styleguide.css);

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ol,
ul,
li,
fieldset,
form,
label,
article,
aside,
footer,
header,
nav,
section,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Montserrat", Helvetica;
  list-style-type: none;
}
a {
  text-decoration: none;
}
html {
  background: var(--color-background);
  font-family: var(--font-family-1);
}
/* -----------------NAVBAR-------------------- */

class-section {
  padding: 0.5rem 0.2rem;
  border: 3px solid;
  border-color: var(--color-border);
  border-radius: 20px;
  transition: all 0.2s ease-out;
  box-shadow: var(--shadow-1);
}
class-section:hover {
  border-color: rgba(42, 71, 28, 0.8);
  box-shadow: var(--shadow-3);
}

.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
  background-color: var(--color-background);
  box-shadow: var(--shadow-1);
}

.main-header nav {
  display: flex;
  flex-wrap: nowrap;

  margin: 2.875rem 6rem;

  justify-content: space-between;
  align-items: center;
}
.main-header-2 {
  position: sticky;
  top: 0;
  z-index: 4;
  background: var(--color-background);
  box-shadow: var(--shadow-2);
}

.main-header-2 nav {
  display: flex;
  padding: 1rem 6rem;
  justify-content: space-between;
  align-items: center;
}

/* -----------------CALENDAR------------------ */
.calendar-wrapper {
  width: 15rem;
  background-color: var(--color-background);
  border-radius: 30px;
  box-shadow: var(--shadow-2);
}
.calendar-wrapper div:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1em 1em 1.5em 1em;
}
.calendar-wrapper span {
  font-size: 35px;
}
.calendar-wrapper .current-date {
  font-weight: var(--semi-bold);
  font-size: var(--medium-size);
  line-height: var(--line-height-4);
  color: var(--color-text);
}
.calendar {
  padding: 0 16px 0 16px;
}
.calendar ul {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.calendar ul li {
  width: calc(100% / 7);
  height: auto;
}
.calendar .weeks li {
  color: #797b86;
  font-weight: var(--semi-bold);
  font-size: var(--tiny);
}
.calendar .days li {
  font-weight: var(--regular);
  font-size: var(--small);
  line-height: 24px;
  margin-top: 10px;
  color: var(--color-text);
}
.calendar .days {
  margin-bottom: 25px;
}
/* Calendar interactive style */
.calendar-box {
  display: none;
  flex-direction: column;
  align-items: center;

  position: absolute;
  z-index: 999;

  top: 4.5rem;
  gap: 1.5em;

  padding: 1.5em;

  border-radius: 30px;
  border: 1px solid var(--color-border);

  background-color: var(--color-background);
}

.calendar-icons span {
  cursor: pointer;
  color: var(--color-text);
}
.button-list {
  display: flex;
  gap: 1.25em;
  justify-content: center;
}
.button-list li button {
  width: 90px;
  height: 30px;

  border-radius: 30px;

  text-wrap: nowrap;
  font-size: var(--small);
  font-weight: var(--medium);

  background: var(--color-background);
}
.days li.inactive {
  color: var(--color-light-grey);
}
.days li.inactive:hover {
  background: var(--color-white);
  cursor: default;
}
.days li {
  cursor: pointer;
}

.day-active {
  background: var(--color-primary);
  color: var(--color-white);
  border-radius: 0;
}
/* ---------------CALENDAR-END---------------- */

/* ---------------COMPONENT-------------------- */
.logo {
  width: 64px;
  height: 64px;
}

.class-section-1 > article {
  display: flex;
  /* width: 18.75rem; */
  background: var(--color-background);
  position: relative;
  border-radius: 20px;
  /* border: 3px solid; */
  /* border-color: var(--color-border); */
}
.class-section-1 .head-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.class-section-1 .image {
  width: 50%;

  border-radius: 20px 0 0 20px;
  /* border-color: var(--color-border); */
}
.class-section-1 .heart-grey {
  width: 1.3rem;
  right: 0.8em;
}
.class-section-1 .text-wrapper {
  display: flex;
  flex-direction: column;
  margin: 1em 0.8em;
  width: 100%;
}
.class-section-1 h3 {
  font-weight: var(--semi-bold);
  font-size: var(--medium-size);
  line-height: var(--line-height-4);
  color: var(--color-text);
  white-space: nowrap;
}
.class-section-1 .class-type {
  margin-top: -0.5em;
  font-weight: var(--medium);
  font-size: var(--tiny);
  line-height: var(--line-height-4);
  color: var(--color-light-grey);
  white-space: nowrap;
}
.class-section-1 .class-info {
  display: flex;
}
.class-section-1 .class-info {
  gap: 1em;
  margin-top: 1.2em;
  font-weight: var(--medium);
  font-size: var(--small);
  color: var(--color-light-grey);
}
.seat-count::before {
  /* position: relative; */
  top: 0.3rem;
  content: url("assets/Seat-logo.svg");
  width: 0.9rem;
  height: 1.4rem;
  margin-right: 5px;
}
.projector {
  /* position: relative; */
  top: 0.2rem;
  width: 1.6rem;
  height: 1.4rem;
  margin-right: 5px;
}
.proj-off::before {
  content: url("assets/Projector-off.svg");
}
.proj-on::before {
  content: url("assets/Projector.svg");
}
#profile-btn {
  background: var(--color-background);
  border: 2px solid var(--color-border);
  box-shadow: var(--shadow-1);
  border-radius: 50%;
  font-size: 1.5em;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  color: var(--color-text);
}

.class-section-3 {
  /* width: 258px; */
  height: 7.375rem;
  background: var(--color-background);

  border-radius: 20px;
  border: 3px solid;
  border-color: var(--color-border);
}

.class-section-3 article {
  display: flex;
}
.class-section-3 img {
  width: 111px;
  height: 118px;
  border-radius: 20px 0 0 20px;
}
.class-section-3 article > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;

  padding: 14px 0 19px 17px;
}
.class-section-3 article h3 {
  font-size: var(--medium-size);
  font-weight: var(--semi-bold);
  color: var(--color-text);
}
.class-section-3 article div.vote {
  font-size: var(--tiny);
  font-weight: var(--normal);
  color: var(--color-dark-grey);
  line-height: var(--line-height-4);
}

hr {
  border-top: 0.5px solid var(--color-border);
  opacity: 0.2;
}
/* ------ User PopUp ------ */
#user-popup {
  background: var(--color-background);
  border: 1px solid var(--color-border);
  border-radius: 20px;
  width: 20rem;
  height: auto;
  position: absolute;
  right: 6rem;
  top: 5rem;
  display: none;
}
.open {
  display: block !important;
}
#user-popup > ul {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin: 1.5rem;
}
.menu:hover {
  cursor: pointer;
}
.menu::before {
  font-family: "Font Awesome 6 free";
  font-size: 1.4em;
  margin-right: 0.5em;
}
.menu {
  font-size: var(--regular);
  font-weight: var(--semi-bold);
  color: var(--color-text);
  text-decoration: none;
  margin-left: 1rem;
}
.reserved-menu::before {
  content: "\f543";
  margin-right: 0.8em;
}
.liked-menu::before {
  content: "\f004";
}
.contact-menu::before {
  content: "\f590";
}
.button {
  font-size: var(--regular);
  font-weight: var(--semi-bold);
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 100%;
  height: 3rem;
}
.button:hover {
  cursor: pointer;
  background-color: var(--color-primary);
  color: var(--color-white);
}

/* ------ User PopUp END ------ */

.mobile-nav {
  display: none;
}

footer {
  background-color: var(--color-background);
  box-shadow: var(--shadow-3);
  width: 100%;
  height: 10rem;
  margin-top: 5rem;
  position: relative;
  bottom: 0;
}
/* --------- MEDIA QUERIES --------- */
@media (max-width: 660px) {
  .mobile-nav {
    display: block;
    position: fixed;
    width: 100%;
    z-index: 999;
    bottom: 0;
    background: var(--color-background);
    border-radius: 35px;
    box-shadow: var(--shadow-2);
  }
  .mobile-nav ul {
    display: flex;
    height: 5rem;
    justify-content: space-evenly;
    align-items: center;
  }
  .mobile-nav img {
    width: auto;
    height: 1.5rem;
  }

  .main-header-2 {
    display: none;
  }

  .class-section-1 {
    height: 100%;
  }
  .class-section-1 > article {
    display: flex;
    flex-direction: column-reverse;
    border-radius: 20px;
  }
  .class-section-1 .image {
    width: 100%;
    /* height: 6.1rem; */

    border-radius: 0px 0 20px 20px;
  }
  .class-section-1 .head-wrapper {
    justify-content: space-between;
  }
  .class-section-1 .text-wrapper {
    margin: 0.875em 0.5em 0.75em;
  }
  .class-section-1 h3 {
    font-size: var(--medium-size);
    font-weight: var(--semi-bold);
    line-height: var(--line-height-3);
  }
  .class-section-1 .class-type {
    margin-top: -0.55em;
  }
  .class-section-1 .class-info {
    margin-top: 0.5em;
  }
}
