@import url(styleguide.css);

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Montserrat", Helvetica;
  list-style-type: none;
}
a {
  text-decoration: none;
}
html {
  background: var(--color-background-gradient);
  font-family: var(--font-family-1);
}
search-bar {
  display: none;
}
.main-header nav {
  padding: 1rem 6rem !important;
}

.main {
  display: grid;
  grid-template-columns: 20% 80%;
  background-color: var(--color-background);
  margin: 2rem 5rem;
  height: 110%;
  border-radius: 20px;
  border: solid var(--color-border);
  border-width: 0.5px;
}

/* 
header{
  background-color: aqua;
  & a{
      padding-left: 10rem;
  }
} */

.verified {
  padding-left: 1rem;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 1rem;
  background: var(--color-background);
  & .class-section-2 {
    gap: 2px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    border-radius: 1rem;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 30% 10%;

    & .img {
      img {
        width: 100%;
        height: 100%;
        border-radius: 10px 0px 0px 10px;
      }
    }
    & .details {
      & .heartdetailsgrid {
        display: grid;
        grid-template-columns: 90% 10%;
        margin: 0.5rem;
      }
      & button {
        border-radius: 1rem;
        border-style: solid;
        border-width: 0.5px;
        padding: 0.1rem 1rem;
      }
      & ul {
        margin-left: 1rem;
        & li {
          padding-top: 0.2rem;
        }
      }
    }
    & .cancel {
      & button {
        margin-left: 1rem;
        width: 150%;
        height: 100%;
        overflow: hidden;
        background-color: #d46a6a;
        & img {
          height: 94%;
          width: 100%;
          border-radius: 0px 10px 10px 0px;
        }
      }
    }
  }
}
.font h3 {
  font-weight: var(--bold);
  font-size: var(--medium-size);
  line-height: var(--line-height-4);
  color: var(--color-text);
  white-space: nowrap;
}
.class-type {
  margin-top: 0.2 rem;
  margin-bottom: 1 rem;
  font-weight: var(--medium);
  font-size: var(--tiny);
  line-height: var(--line-height-4);
  color: var(--color-light-grey);
  white-space: nowrap;
}

.right-section {
  border-left: 1px solid var(--color-border);
  height: 100%;
  & h1 {
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }
}
.info {
  display: flex;
  flex-direction: column;

  /* margin:30%;
  & .profile-button{
  } */

  justify-content: center !important;
  align-items: flex-start;
  margin-left: 2rem;
  gap: 1rem;
  /* margin-left: 30px !important;
  margin-top: 20px !important;
  & li {
    margin-top: 10px !important;
  } */
}
.left-section {
  margin-top: 1.6em;
}
header {
  & button {
    padding: 8px;
  }
}
.log-out {
  margin-left: 2.7rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-top: 1px solid var(--color-border);
  font-weight: var(--medium);
  font-size: var(--medium);
  line-height: var(--line-height-4);
  color: var(--color-light-grey);
  white-space: nowrap;
  text-align: left;
  background-color: transparent;
  cursor: pointer;
}

.far.fa-user {
  color: black;
  font-size: 40px;
  /* margin-left: 2rem; */
  /* background-color: transparent; */
}
.prof-btn {
  width: 4.5rem !important;
  height: 4.5rem !important;
  box-shadow: var(--shadow-3);

  & i {
    font-size: 2.3rem;
  }
}
.left-titles {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.left-titles li {
  padding: 6px 6px 6px 11px;
  color: var(--color-text);
  font-size: 16px;
  font-weight: var(--semi-bold);
  text-wrap: nowrap;

  color: black;
  /* border: 1px solid; */
  border-radius: 5px;
  transition: all 0.2s ease;
}

.left-titles li:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}
/* --------------------HOVERS--------------- */
/* .ordered:hover {
  height: 25px;
  width: 80%;
  background-color: transparent;
  color: var(--color-text);
  border-radius: 10px;
  height: 25px;
  width: 80%;
  background-color: transparent;
  color: var(--color-text);
  border-radius: 10px;
  border: 2px solid green;
  padding: 2px 4px;
  cursor: pointer;
}
.liked:hover:hover {
  height: 25px;
  width: 80%;
  background-color: transparent;
  color: var(--color-text);
  height: 25px;
  width: 80%;
  background-color: transparent;
  color: var(--color-text);
  border-radius: 10px;
  border: 2px solid green;
  padding: 2px 4px;
  cursor: pointer;
}
.account:hover {
  height: 25px;
  width: 80%;
  background-color: transparent;
  color: var(--color-text);
  height: 25px;
  width: 80%;
  background-color: transparent;
  color: var(--color-text);
  border-radius: 10px;
  border: 2px solid green;
  padding: 2px 4px;
  cursor: pointer;
}
.log-out:hover {
  height: 25px;
  width: 80%;
  height: 25px;
  width: 80%;
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid green;
  padding: 2px 4px;
  cursor: pointer;
} */
.username {
  margin-left: 2rem;
  color: var(--color-text);
  font-weight: var(--semi-bold);
  font-size: var(--color-tiny);
}
.class-section-2:hover {
  border: 2px solid;
  border-color: rgba(42, 71, 28, 0.8);
}
/* @media screen and (max-width: 1200px) {
  .right-section {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
  }
} */

/* --------- MEDIA QUERIES --------- */
@media screen and (max-width: 1350px) {
  .verified {
    display: grid;
    grid-template-columns: 45% 45%;
  }
}

@media screen and (max-width: 900px) {
  .verified {
    display: block;
    & .class-section-2 {
      width: 80%;
      margin: 0px auto;
    }
  }
  .main {
    margin: 0px auto;
  }
}

@media screen and (max-width: 695px) {
  .main {
    display: block;
  }
}

/* --------- MEDIA QUERIES MOBILE--------- */
@media (max-width: 695px) {
  .mobile-nav {
    display: block;
    position: fixed;
    width: 100%;
    z-index: 999;
    bottom: 0;
    background-color: var(--color-white);
    border-radius: 35px;
    box-shadow: var(--shadow-2);
  }
  .mobile-nav ul {
    display: flex;
    height: 5rem;
    justify-content: space-evenly;
    align-items: center;
  }
  .mobile-nav img {
    width: auto;
    height: 1.5rem;
  }

  .main-header-2 {
    display: none;
  }

  .right-section .verified .class-section-2 {
    height: 100%;
  }
  .right-section .verified .class-section-2 > article {
    display: flex;
    flex-direction: column-reverse;
    border-radius: 20px;
  }
  .right-section .verified .class-section-2 .image {
    width: 100%;
    /* height: 6.1rem; */
    border-radius: 0px 0 20px 20px;
  }
  .right-section .verified .class-section-2 .heart-grey {
    position: flex;
    right: 0.8em;
  }
  .right-section .verified .class-section-2 .text-wrapper {
    margin: 0.875em 0.5em 0.75em;
  }
  .right-section .verified .class-section-2 h3 {
    font-size: var(--medium-size);
    font-weight: var(--semi-bold);
    line-height: var(--line-height-3);
  }
  .right-section .verified .class-section-2 .class-type {
    margin-top: -0.55em;
  }
  .right-section .verified .class-section-2 .class-info {
    margin-top: 0.5em;
  }

  .class-section-2 {
    font-size: 15 px !important;
    margin-top: 20px !important;
  }
  .heart-grey {
    font-size: 5px !important;
  }
  .main {
    width: 100% !important;
    text-align: center !important;
    justify-content: center !important;
  }
  .details-list {
    font-size: 15px !important;
    margin-top: 20px !important;
  }
}
